doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(content='telephone=no', name='format-detection')
    meta#viewport(name='viewport', content='width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0')
    title 我的小店
    link(href='../../css/lib/base.css', type='text/css', rel='stylesheet')
    link(href='../../css/pages/my_shop_info.css', type='text/css', rel='stylesheet')
  body.B_my_shop
    .shop_banner.clearx
      .banner_shop_more
        span.banner_shop_more_icon
      .banner_shop_img
        .banner_shop_img_box
          img(src='../../images/temp/portrait.png')
      .banner_shop_name
        span.shop_name_style 小馋猫零食铺的小店
    .shop_nav
      .card_wrap_2.card_wrap_mt
        ul.card_cols_2.table.E_tc
          li.td
            a(href='javascript:;')
              span.shop_nav_icon_add
              p 添加商品
          li.td
            a(href='javascript:;')
              span.shop_nav_icon_management
              p 管理订单
          li.td
            a(href='javascript:;')
              span.banner_shop_more_earnings
              p 我的收益
    h3.card_title
    .card_wrap_2
      .card_mix_1.card_mix_action
        dl.table
          dt.td
            .pic(style='background:url(http://img.t.sinajs.cn/t4/appstyle/e_promotion_t6/mobile/images/temp/card_3.jpg)')
          dd.td
            p.E_f15.title 哈根达斯Haagen-daz哈达斯Haagen-d达斯Haagen-d达斯Haagen-d
            p.pro_line
              span.price
                | ￥
                strong 8.9
          dd.td.action
            span.shop_icon_show
            p.E_f10.E_fc_link 分享
      .card_mix_1.card_mix_action
        dl.table
          dt.td
            .pic(style='background:url(http://img.t.sinajs.cn/t4/appstyle/e_promotion_t6/mobile/images/temp/card_3.jpg)')
          dd.td
            p.E_f15.title 哈根达斯Haagen-daz哈达斯Haagen-d达斯Haagen-d达斯Haagen-d
            p.pro_line
              span.price
                | ￥
                strong 8.9
          dd.td.action
            span.shop_icon_show
            p.E_f10.E_fc_link 分享
      .card_mix_1.card_mix_action
        dl.table
          dt.td
            .pic(style='background:url(http://img.t.sinajs.cn/t4/appstyle/e_promotion_t6/mobile/images/temp/card_3.jpg)')
          dd.td
            p.E_f15.title 哈根达斯Haagen-daz哈达斯Haagen-d达斯Haagen-d达斯Haagen-d
            p.pro_line
              span.price
                | ￥
                strong 8.9
          dd.td.action
            span.shop_icon_show
            p.E_f10.E_fc_link 分享
